<h1>Test Creation</h1>

<h2>Available Questions</h2>

<form name="form">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-5">
            <div id="msg" data-ng-model="Message" style="color:red">{{Message}}</div>
        </div>
    </div>

    <h2>Test Name:</h2>
    <span>  <input type="text" ng-model="vm.test.testName" required /> <span ng-show="form.vm.test.testName.$invalid && form.vm.test.testName.$dirty"> test is required </span> </span><span><input type="number" ng-model="vm.test.testTime" placeholder="Enter test time" required/> <span ng-show="form.vm.test.testTime.$invalid && form.vm.test.testTime.$dirty"> time is required </span> </span>
    <ol>
        <li ng-repeat="q in vm.questions">
            <input type="checkbox"
                   ng-model="q.checked" />
            {{q.text}}
        </li>
    </ol>
    Sel:
    you selected
    <span ng-repeat="q_ in vm.questions" ng-show="q_.checked">{{q_.text}}</span>

    <br>
    <button ng-disabled="form.$invalid"  class="btn btn-info btn-sm" ng-click="vm.createTest(vm.test)">SUBMIT</button>
</form>

